@import "../../../assets/scss/vars";

.footer__main-content {
  display: grid;
  grid-template-columns: 1.25fr 0.90fr 0.8fr 1.10fr 1.35fr;
  text-decoration: none;
  padding: 100px 140px;
  color: rgba($main-color, 0.5);
  font-size: 14px;
  line-height: 17px;

  .main-content__list {
    list-style-type: none;
    margin-top: 21px;
    .list__element {
      margin-top: 20px;
      .list__link {
        outline: none;
        text-decoration:none;
        color:inherit;
      }
    }
  }

  .main-content__info,
  .main-content__subscription {
    max-width: 260px;
  }

  .main-content__subscription {
    margin-left: 51px;
  }

  .main-content__navigation, {
    margin-left: 40px;
    @media (max-width: 1460px) {
      margin-left: 20px;
    }
  }

  .main-content__about-us {
    margin-left: 57px;
    @media (max-width: 1460px) {
      margin-left: 40px;
    }
    @media (max-width: 1300px) {
      margin-left: 28px;
    }
  }

  .main-content__support {
    margin-left: 92px;
    @media  (max-width: 1460px){
      margin-left: 60px;
    }
    @media (max-width: 1300px) {
      margin-left: 35px;
    }
  }
}

.info__description, .subscription__description {
  margin-top: 21px;
  line-height: 24px;
}

.footer__text-field {
  margin-top: 20px;
}