@import "src/assets/scss/vars";

.dropdown {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  height: 0;
  background-color: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  width: 100%;
  z-index: 10;
  &_opened {
    transition: height 0.2s ease-in 0s;
    opacity: 1;
    visibility: visible;
    height: 184px;
    .dropdown__dropdown-item,
    .dropdown__buttons{
      opacity: 1;
      visibility: visible;
      transition: opacity 0.15s ease-out 0.2s;
    }

  }

  &__dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    opacity: 0;
    visibility: hidden;

    .dropdown-item__title {
      margin-left: 8px;
      max-width: calc(100% - 100px);
    }

    .dropdown-item__button {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #ffffff;
      border: 1px solid rgba($main-color, 0.5);
      cursor: pointer;
    }

    .dropdown-item__button_inactive {
      opacity: 0.5;
    }

    .dropdown-item__button:active {
      opacity: 0.5;
    }

    .dropdown-item__value {
      width: 32px;
      text-align: center;

      &:focus {
        outline: none;
        border: none;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 13px 7px;
    opacity: 0;
    visibility: hidden;
    .-hidden- {
      display: none;
      opacity: 0;
    }
  }
}

