doctype html

html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="images/logo/favicon.ico")
        block meta
        block variables
        block script
    body
        block variables
        block header
        block content
        block footer