include ../search-room/search-room

doctype html

mixin lading-page-content
    main(class="lading-page-content")
        +search-room({class: 'lading-page-content__search-room'})
        div.lading-page-content__description
            p.description__text Лучшие номера для вашей работы, отдыха и просто вдохновения