@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Regular.eot');
  src:  url('../fonts/Jost-Regular.woff') format('woff'),
        url('../fonts/Jost-Regular.ttf') format('truetype'),
        url('../fonts/Jost-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Bold.eot');
  src:  url('../fonts/Jost-Bold.woff') format('woff'),
        url('../fonts/Jost-Bold.ttf') format('truetype'),
        url('../fonts/Jost-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
