// _class - your personal class / classes
// theme - default, dark, light, arrow
// name - text in button
//
// and attr for tag 'form' and 'button'

mixin button(attr={})
    form(class="button-form")
        button(class=attr._class + ` button button_${attr.theme}`)&attributes(attr)= attr.name

