// _class - your personal class / classes
// theme - default, dark, light, arrow
// name - text in button
//
// and attr for tag 'form' and 'button'

mixin button(attr={}, action)
    form(class="button-form" action=action)
        button(class=`button button_${attr.theme}`)&attributes(attr)= attr.name

