@import "src/assets/scss/vars";

.filter {
  display: block;
  position: relative;
  max-width: 266px;

  &__subtitle {
    margin-bottom: 5px;
  }

  &__date-of-residence {
    .date-of-residence__calendar {
      margin-top: 5px;
    }
  }

  &__guests {
    margin-top: 20px;
  }

  &__price-range {
    margin-top: 30px;
    .filter__subtitle {
      margin-bottom: 0;
    }
    .price-range__title-and-range {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 23px;

      .price-range__range {
        height: 15px;
        font-size: 12px;
        color: rgba($main-color, 0.5);
        line-height: 15px;
        text-align: right;
        text-transform: uppercase;
      }
    }

    .price-range__description {
      font-size: 12px;
      line-height: 14px;
      color: rgba($main-color, 0.5);
      margin-top: 13px;
    }
  }

  &__house-rules {
    margin-top: 30px;
    .house-rules__checkbox {
      margin-top: 10px;
    }
  }

  &__availability {
    margin-top: 30px;
    .availability__rich-checkbox {
      margin-top: 10px;
    }
  }

  &__room-amenities {
    margin-top: 30px;
  }

  &__additional-amenities {
    margin-top: 30px;

    .additional-amenities__title {
      display: flex;
      align-items: center;
      margin-bottom: 17px;
      .filter__subtitle {
        margin: 0;
      }

      .additional-amenities_expand {
        padding: 0 16px;
        margin-left: 13px;
        cursor: pointer;
        transition: all 0.2s ease 0s;
      }

      .additional-amenities_expand.-active- {
        transform: rotate(180deg);
      }
    }

    .additional-amenities__items {
      display: none;
      position: relative;
      animation: additional-amenities 0.2s ease-in 0s;
    }

    .additional-amenities__items.-shown- {
      display: block;
    }

    .additional-amenities__checkbox {
      display: block;
      width: 100%;
      margin: 0 0 10px;
    }



  }
}


@keyframes additional-amenities {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}