include ../search-room/search-room

doctype html

mixin lading-page-content
    main(class="landing-page-content")
        +search-room({class: 'landing-page-content__search-room'})
        div.landing-page-content__description
            p.description__text Лучшие номера для вашей работы, отдыха и просто вдохновения