include ../../assets/pug/layout
include ../../components/header/header
include ../../components/footer/footer

doctype html

block meta
    title Главная страница

block header
    +header()

block content
    p Это контент

block footer
    +footer()
