include ../../assets/pug/layout
include ../../components/header/header
include ../../components/footer/footer
include ../../components/lading-page-content/lading-page-content

doctype html

block meta
    title Главная страница

block header
    +header()

block content
    +lading-page-content()

block footer
    +footer()
