mixin carousel-slider(attr={})
    div.carousel-slider
        each imageName in attr.images
            div.carousel-slider__item
                a.carousel-slider__link(href='1241241'): img.carousel-slider__img(src=`images/rooms-images/${imageName}.jpg`, alt='Фото номера')
