
mixin __items
    ul(class="header__main-nav__items")
        li(class="header__main-nav__items__item"): a(class="header__main-nav__items__item__link" href="#") О нас
        li(class="header__main-nav__items__item"): a(class="header__main-nav__items__item__link" href="3") Услуги
            //div(class='main-nav__items_dropdown')
            //    button(class="main-nav__items__drop-button") Услуги
            //    div(class="main-nav__items_dropdown__content")
            //        a Услуга 1
            //        a Услуга 2
            //        a Услуга 3
        li(class="header__main-nav__items__item"): a(class="header__main-nav__items__item__link" href="4") Вакансии
        li(class="header__main-nav__items__item"): a(class="header__main-nav__items__item__link" href="5") Новости
        li(class="header__main-nav__items__item"): a(class="header__main-nav__items__item__link" href="6") Соглашения