@import "src/assets/scss/_vars.scss";

.main-nav__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  margin-left: 20px;
  &_expand {
    display: flex;
  }
}

.item__link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgba($main-color, 0.5);
}

.item__link:focus {
  font-weight: bold;
  color: rgba($main-color, 0.75);
}

.item__expand-img {
  padding: 0 8px;
  cursor: pointer;
}