@import "src/assets/scss/_vars.scss";

.header__main-nav__items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  float: right;
  &__item {
    margin-left: 20px;
    &__link {
      display: block;
      text-align: center;
      text-decoration: none;
      color: rgba($main-color, 0.5);
    }
    &_expand {
      display: flex;
    }
    &__expand-img {
      padding: 3px;
      cursor: pointer;
    }
  }
}

.header__main-nav__items__item__link:focus {
  font-weight: bold;
  color: rgba($main-color, 0.75);
}