include __main-nav/__main-nav
include __buttons/__buttons
include __menu-burger/__menu-burger

mixin header
    header(class="header")
        div(class="header__container")
            a(class="logo__link" href="index.html"): img(class="header__logo" src='images/logo/logo.svg' alt="Логотип")
            +header__menu-burger()
            +header__main-nav()
            +header__buttons()
