include __main-nav/__main-nav
include __buttons/__buttons

mixin header
    header(class="header")
        a(class="logo__link" href="/"): img(class="header__logo" src='images/logo/logo.svg' alt="Логотип")
        +main-nav()
        +header__buttons()