
.home-page-content {
  margin: 0 auto;
  max-width: 1920px;
  min-height: 1022px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  background: url("../../assets/images/index-content.jpg") no-repeat center;
  background-size: cover;
}