doctype html

include ./__filter/__filter
include ./__rooms/__rooms

mixin search-room-page-content
    main.search-room-page-content
        +__filter({class: 'search-room-page-content__filter'})
        +__rooms({class: 'search-room-page-content__rooms'})