include ../../default-button/default-button
doctype html


mixin header__buttons
    div(class='header__buttons')
        div(class='header__button'): +default-button("light", 'Войти')
        div(class='header__button'): +default-button("dark", 'Зарегистрироваться')