.header__buttons {
  display: flex;
  padding: 3px 0;
}

.header__button {
  margin: 0 10px;
}

.button__reg, .button__log {
  height: 34px;
  padding: 10px 15px;
}

.button__reg {
  min-width: 196px;
}

.button__log {
  min-width: 87px;
  padding: 8px 13px;
}