include ../../__button/__button
doctype html


mixin header__buttons
    div(class='header__buttons')
        div(class='header__button'): +__button("light", 'Войти')
        div(class='header__button'): +__button("dark", 'Зарегистрироваться')