.header__buttons {
  display: flex;
  padding-top: 3px;
}

.header__button {
  margin: 0 10px;
}

.button {
  height: 34px;
  padding: 10px 15px;
  &_light {
    min-width: 87px;
    padding: 8px 13px;
  }
  &_dark {
    min-width: 196px;
  }
}