.header__buttons {
  position: relative;
  display: flex;
  padding: 3px 0;
}

.header__button {
  margin: 0 10px;
}

.button__reg, .button__log {
  height: 34px;
  padding: 10px 20px;
}



.button__log {
  padding: 8px 18px;
}