@import "../../../assets/scss/vars";

.header__main-nav {
  position: relative;
  float: right;
  padding: 11px 10px 11px 0;
  margin-left: auto;
  font-size: 14px;
  line-height: 17px;
  min-width: 425px;
}
